<div class="jumbotron">
  <h1 class="display-4">NodeJS TS MongoDB</h1>
  <p class="lead">This is a simple books listing web application using TypeScript and Handlebars.</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/books" role="button">Test it!</a>
</div>